@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat-regular.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../fonts/montserrat-light.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/raleway-regular.ttf);
}

@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/raleway-extrabold.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway-semibold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto-regular.ttf);
}

body {
    width: 1920px;
    margin: 0 auto;
    font-family: 'montserrat', 'verdana', sans-serif;
}

header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0 40px 0;
}

.logo {
    display: flex;
    float: left;
    align-items: center;
    text-decoration: none;
    margin-left: 20%;
}

.logo svg {
    fill: #ffffff;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.logo span {
    display: block;
    width: 20%;
    font-family: 'raleway', sans-serif;
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;

}

.logo:hover svg {
    fill: #c7b299;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}

.logo:hover span {
    color: #c7b299;
}

.logo:active svg {
    fill: #b59977;
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
}

.logo:active span {
    color: #b59977;
}

.header-menu {
    display: flex;
    width: 770px;
    white-space: nowrap;
    padding: 0;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 11%;
}

.header-menu a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.header-menu a:hover {
    color: #c7b299;
    transition-duration: .1s;
}

.menu-buttons {
    padding-left: 35px;
}

.menu-buttons a {
    margin-left: 28px;
}

.menu-buttons a svg {
    fill: #fff;
}

.menu-buttons a svg:hover {
    fill: #c7b299;
}

.slider-text {
    padding-top: 285px;
    margin: 0 auto 300px auto;
    width: 600px;
    text-align: center;
    color: #fff;
}

.slider-text h2 {
    display: block;
    margin: 0 auto;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 500;
}

.slider-text h1 {
    display: block;
    margin: 14px 0 14px 0;
    color: #ffffff;
    font-family: "raleway-extrabold";
    font-size: 52px;
    font-weight: 400;
}

.slider-text span {
    display: block;
    margin-top: 5px;
    margin-bottom: 52px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    float: none;
}

.slider-button {
    width: 170px;
    padding: 21px 37px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "raleway-extrabold";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #998675;
    box-shadow: inset 0 -3px 0 #736357;
}

.slider-button:hover {
    background-color: #7d6c5c;
    color: #ccc;
    box-shadow: inset 0 -3px 0 #574a41;
    transition-duration: .6s;
}

.slider-button:active {
    background-color: #b0a194;
    box-shadow: none;
    color: #fff;
    transition-duration: .1s;
}

.pagination {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.pagination-dot {
    display: block;
    width: 10px;
    margin-right: 10px;
    min-height: 10px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid transparent;
}

.pagination-dot:hover {
    border: 2px solid #d3c1ad;
    border-radius: 50%;
    opacity: 1;
    background: none;
    transition-duration: .2s;
}

.services {
    display: flex;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1200px;
    color: #555555
}

.service-unit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.service-unit {
    color: #555555;
}

.service-unit svg {
    fill: #555555;
    margin: 0 0 15px 0;
}

.service-unit h3 {
    font-family: "raleway-semibold";
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px 0;
    width: 100%;
}

.service-unit span {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.service-unit:hover svg {
    fill: #c7b299;
    transition-duration: .2s;
}

.service-unit:hover h3 {
    color: #c7b299;
    transition-duration: .2s;
}

.service-unit:hover:after {
    background-color: #c7b299;
}


.service-unit:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.waxom-iroyi {
    padding-top: 83px;
    margin: 0 auto;
    background-color: #fbfaf8;
}

.waxom-iroyi h2 {
    text-align: center;
    color: #555555;
    font-family: "raleway-semibold";
    font-size: 30px;
    font-weight: 400;
}

.waxom-iroyi span {
    display: block;
    margin: 0 auto;
    width: 757px;
    text-align: center;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 40px;
}

.screenshots-positioning {
    width: 1230px;
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
}

.screenshots-positioning img {
    margin-right: -540px;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 350ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 350ms;
}

.iroyi-screenshot-1 {
    z-index: 1;
}

.iroyi-screenshot-2 {
    z-index: 3;
}


.iroyi-screenshot-3 {
    z-index: 2;
}

.screenshots-positioning img:hover {
    z-index: 10;
    width: 800px;
    height: auto;
    -webkit-transform: scale(1.02, 1.02);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 350ms;
    -moz-transform: scale(1.02, 1.02);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 350ms;
}

.iroyi-text {
    width: 752px;
}

.purchase-window {
    width: 80%;
    padding: 50px 0 50px 20%;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.purchase-test-content {
    float: left;
    padding-right: 450px;
}

.purchase-h {
    color: #ffffff;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 400;
}

.purchase-h-1st {
    color: #c7b299;
}

.purchase-window p {
    color: #615855;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
}

.purchase-button {
    width: 170px;
    padding: 20px 28px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "raleway-extrabold";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #998675;
    box-shadow: inset 0 -3px 0 #736357;
    box-sizing: border-box;
}

.purchase-button:hover {
    background-color: #7d6c5c;
    color: #ccc;
    box-shadow: inset 0 -3px 0 #574a41;
    transition-duration: .6s;
}

.purchase-button:active {
    background-color: #b0a194;
    box-shadow: none;
    color: #fff;
    transition-duration: .1s;
}

.our-latest-projects h2 {
    padding-top: 80px;
    text-align: center;
    color: #555555;
    font-family: "raleway-semibold";
    font-size: 30px;
    font-weight: 400;
}

.our-latest-projects p {
    display: block;
    margin: 0 auto;
    width: 760px;
    text-align: center;
    color: #8c8c8c;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.olp-submenu {
    display: block;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
}

.olp-submenu-button {
    padding: 8px 1.5% 8px 1.5%;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.olp-submenu-button:hover {
    background-color: #998675;
    color: #fff;
    border: 1px solid transparent;
    transition-duration: .1s;
}


.olp-content {
    width: 70%;
    padding-top: 40px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}


.olp-content-unit {
    width: 370px;
    flex-wrap: wrap;
    margin: 15px 15px 15px 15px;
    position: relative;
}

.olp-content-unit img {
    display: block;
}

.olp-content-unit:hover .olp-hover-button-1 {
    display: block;
    fill: #fff;
}

.olp-content-unit:hover .olp-hover-button-2 {
    display: block;
    fill: #fff;
}

.olp-content-unit:hover .olp-content-unit-text {
    background-color: #362f2d;
    transition-duration: .1s;
}

.olp-content-unit:hover .olp-span-1 {
    color: #ffffff;
    transition-duration: .1s;
}

.olp-content-unit:hover .olp-span-2 {
    color: #c7b299;
    transition-duration: .1s;
}

.olp-content-unit:hover img {
    filter: brightness(30%);
    transition-duration: .1s;
}

.olp-content-unit:hover .olp-content-unit-text:before {
    border-bottom: 10px solid #362f2d;
    transition-duration: .1s;
}

.olp-content-unit-text {
    padding: 30px 0 27px 27px;
    background-color: #fbfaf8;
    position: relative;
}

.olp-content-unit-text:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}

.olp-span-1 {
    display: block;
    color: #c7b299;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
}

.olp-span-2 {
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.olp-button {
    margin: 40px auto 80px auto;
    display: block;
    width: 170px;
    padding: 19px 45px 20px 44px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "raleway-extrabold";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #998675;
    box-shadow: inset 0 -3px 0 #736357;
    box-sizing: border-box;
}

.olp-button:hover {
    background-color: #7d6c5c;
    color: #ccc;
    box-shadow: inset 0 -3px 0 #574a41;
    transition-duration: .6s;
}

.olp-button:active {
    background-color: #b0a194;
    box-shadow: none;
    color: #fff;
    transition-duration: .1s;
}

.olp-hover-button-1,
.olp-hover-button-2 {
    outline: none;
    display: none;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 31%;
}

.olp-hover-button-1 {
    left: 39%;
}

.olp-hover-button-2 {
    right: 39%;
}

.olp-hover-button-1:hover {
    fill: #c7b299;
}

.olp-hover-button-2:hover {
    fill: #c7b299;
}


.video {
    min-height: 705px;
    width: 100%;
    position: relative;
}

.video-preview-text {
    margin: 0 auto;
    position: absolute;
    width: 552px;
    text-align: center;
    top: 31%;
    left: 36%;
}

.video-preview-text h2 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
}

.video-preview-text p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.video-preview-text time {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.video-preview-text button {
    background: none;
    outline: none;
    border: none;
}

.video-preview-text button svg {
    fill: #fff;
}


.video-preview-text button:hover .video-preview-text button svg path {
    fill: #c7b299;
}

.mobile {
    background-color: #fbfaf8;
    padding: 80px 16% 7.37% 23%;
}

.mobile img {
    display: block;
    float: left;
}

.mobile-text-content {
    display: block;
    padding-left: 42%;
    padding-top: 8%;
}

.mobile-text-content h2 {
    color: #555555;
    font-family: "raleway-semibold";
    font-size: 30px;
    font-weight: 400;
}

.mobile-text-content p {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.mobile-text-content ul {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.mobile-text-content ul li {
    list-style: none;
    background: url(../img/mobile-list-style.png) no-repeat left 30%;
    padding-left: 42px;
    line-height: 38px;
}

.achievments {
    display: flex;
    padding: 35px 26% 25px 26%;
    width: 48%;
    flex-wrap: nowrap;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.achievments-content {
    text-align: center;
    margin: 35px;
}

.achievments-content::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

.achievments-content svg {
    padding-bottom: 30px;
    fill: #c7b299;
}

.achiements-content-number {
    display: block;
    color: #fff;
    font-family: 'montserrat-light';
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
}

.achiements-content-subj {
    display: block;
    margin: 20px 0 30px 0;
    color: #c7b299;
    white-space: nowrap;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

.recent-posts {
    padding-top: 80px;
}

.recent-posts-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.recent-posts h2 {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 400;
    font-family: 'raleway-semibold';
    color: #555555;
}

.recent-posts p {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 25px;
    width: 42%;
    text-align: center;
    color: #8c8c8c;
    font-family: montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.rpc-block {
    width: 370px;
    margin: 15px;
}

.rpc-block:hover img {
    filter: brightness(30%);
    transition-duration: .1s;
}

.rpc-block:hover .rpc-date-top {
    background-color: #c7b299;
    transition-duration: .1s;
}

.rpc-block:hover .rpc-date-bottom {
    background-color: #a48d72;
    transition-duration: .1s;
}

.rpc-block:hover h3 {
    color: #c7b299;
    transition-duration: .1s;
}

.rpc-block:hover span {
    color: #ffffff;
    transition-duration: .1s;
}

.rpc-block:hover .rpc-block-content {
    background-color: #362f2d;
    transition-duration: .1s;
}

.rpc-block-img {
    position: relative;
    display: flex;
    width: 370px;
}

.rpc-block-content {
    padding: 30px;
    outline: 1px solid #f8f8f8;
    background-color: #fff;
}

.rpc-block-content h3 {
    margin: 0;
    margin-bottom: 20px;
    color: #555555;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
}

.rpc-block-content span {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.rpc-block-content a {
    display: block;
    padding-top: 27px;
    text-decoration: none;
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.rpc-pagination {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 36%;
    justify-content: center;
    align-content: space-between;
}

.rpc-date {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
}

.rpc-date-top {
    display: block;
    background-color: #363636;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
}

.rpc-date-bottom {
    display: block;
    background-color: #252525;
    text-align: center;
    padding: 7px 14px;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.rpc-arrows {
    display: flex;
    justify-content: center;
    padding: 40px 0 80px 0;
}

.rpc-arrows a {
    padding-right: 8px;
}

.rpc-arrows a svg {
    fill: #ccc;
}

.rpc-arrows a svg:hover {
    fill: #c7b299;
    transition-duration: .1s;
}

.pagination-dot {
    display: block;
    width: 10px;
    margin-right: 10px;
    min-height: 10px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 50%;
    border: 2px solid transparent;
}

.pagination-dot:hover {
    border: 2px solid #d3c1ad;
    border-radius: 50%;
    opacity: 1;
    background: none;
    transition-duration: .2s;
}


.partners {
    display: flex;
    padding: 140px 0 140px 0;
    background-image: url(../img/partners-bg.jpg);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


.partners img {
    padding-right: 90px;
}